**/*.json
/evorate_workflow/*outputs/
/evorate_workflow/logs/
/evorate_workflow/.snakemake/
/evorate_workflow/data/*.faa
/evorate_workflow/data/*.zip
__pycache__/
evorate_workflow/scripts/__pycache__/
taxon_selection/__pycache__/
/evorate_workflow/nlp_model_data/
/evorate_workflow/GloBI/
*.json