# logging, lookup tables, and databases
**/*.json
**/*.log
**/*.db
data/nltk_data/corpora/

# python cache
**/__pycache__

# evorate_workflow outputs
/evorate_workflow/*outputs/
/evorate_workflow/logs/
/evorate_workflow/.snakemake/
/evorate_workflow/data/*.faa
/evorate_workflow/data/*.zip

#wordnet data
/evorate_workflow/nlp_model_data

# esummary dtd output
*.dtd

# taxon selection outputs
/src/taxon_selection/*.csv
